//breakpoints
$tablets: 768px;
$phones: 480px;

//font
$baseFontSize: 18px;

//colors
$black: #292929;
$yellow: #FEDB3F;
$body: #666666;

//normalize
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";

//media
@import "media";

//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap');
@import "layout";

section {
  height: 100vh;
}
.container {
  height: 100%;
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
}
.wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;

  .wrapper__container {
    height: 100%;
    transition: transform 1s;
    will-change: transform;
  }
}
.modal {
  display: none;
  background: black;
  color: $yellow;
  border-radius: rem(30px);
  padding: rem(30px);
  padding-bottom: rem(50px);
  text-align: center;

  &.error-modal {
    color: red;
  }

  .btn:hover {
    background: rgba(254, 219, 63, 0.8);
  }
  .modal__button-container {
    margin-top: rem(40px);
  }
}

//components
@import "components/header";
@import "components/hero";
@import "components/why";
@import "components/team";
@import "components/menu";
@import "components/review";
@import "components/video";
@import "components/order";
@import "components/footer";
@import "components/board";
@import "components/hamburger";
