.board {
  background-color: #F8FAF9;
  color: #292929;

  .container {
    position: relative;
  }

  .bx-wrapper {
    height: 100vh;
    box-shadow: none;
    border: none;
    background: #F8FAF9;
    margin-bottom: 0 !important;
  }

  @for $i from 1 through 2 {
    .board__slider-item:nth-child(#{$i}) {
      .board__bg {
        background:
                url("../img/bg/slider/#{$i}.png") left 20% center/contain no-repeat,
                url("../img/bg/board-bg.svg") left 20% center/contain no-repeat;
      }
    }
  }

  .board__bg {
    flex-shrink: 0;
    display: inline-block;
    width: rem(420px);
    background:
            url("../img/bg/slider/1.png") left 20% center/contain no-repeat,
            url("../img/bg/board-bg.svg") left 20% center/contain no-repeat;

    @include tablets {
      width: rem(200px);
      height: rem(260px);
    }
    @include phones {
      width: rem(150px);
      height: rem(230px);
    }
  }

  .board__slider-item {
    padding-top: rem(66px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include tablets {
      flex-direction: column;
      align-items: center;
    }
  }

  @include tablets {
    background-position: top center, top 12% center;
  }

  .board__list {
    flex-shrink: 0;
    position: relative;
    min-height: rem(470px);
    display: inline-block;
    width: rem(368px);
    max-width: rem(368px);
    padding-top: rem(140px);
    margin-left: rem(80px);
    text-align: center;

    @include tablets {
      margin-left: 0;
      width: rem(528px);
      max-width: rem(528px);
      padding-top: rem(10px);
    }
    @include phones {
      width: rem(380px);
      max-width: rem(380px);
    }
  }
  .board__item {
    margin-bottom: rem(24px);
  }
  .board__img {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/board-info.jpg") center center/cover no-repeat;
    width: rem(91px);
    height: rem(91px);
    margin-bottom: rem(50px);

    &:hover {
      .board__menu {
        display: flex;
      }
    }

    @include tablets {
      display: none;
    }
  }
  .board__menu {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 0;
    left: rem(91px);
    width: rem(273px);
    height: rem(291px);
    padding: rem(30px);
    background-color: #d5d5d5;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(40px);
    border-radius: 4px;
  }
  .board__menu-item {
    font-weight: 500;
    font-size: rem(16px);
    line-height: rem(24px);
    color: #000000;
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(28px);
    &:last-child {
      margin-bottom: 0;
    }
  }
  .board__menu-left {
    position: relative;
    padding-left: rem(40px);

    .icon {
      position: absolute;
      width: rem(25px);
      height: rem(25px);
      top: 0;
      left: 0;
    }
  }
  .icon-weight {
    left:30px;
    background: url('../img/thickness.png') center center/cover no-repeat;
  }
  .board__title {
    font-weight: bold;
    font-size: rem(36px);
  }
  .board__text {
    color: #666666;
  }
  .board__info {
    display: inline-block;
    margin-right: rem(55px);

    strong {
      font-weight: bold;
      color: #000000;
    }
  }
  .board__price {
    display: inline-block;
    font-weight: 300;
    font-size: rem(60px);
    line-height: rem(60px);
    text-transform: uppercase;
    color: #151515;
    width: rem(190px);
    text-align: left;
  }
  .board__order {
    display: flex;
    justify-content: center;
  }

  .arrow-left,
  .arrow-right {
    z-index: 99;
    position: absolute;
    width: rem(13.5px);
    height: rem(27px);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .arrow-left {
    left: 0;
  }
  .arrow-right {
    right: 0;
  }
}