.board {
  background:
          url("../img/bg/board.png") left 20% center no-repeat,
          url("../img/bg/board-bg.svg") left 20% center no-repeat;
  background-color: #F8FAF9;
  color: #292929;

  @include tablets {
    background-position: top center, top 12% center;
  }

  .container {
    position: relative;
    display: flex;
    justify-content: right;
    padding: rem(80px) 0;

    @include tablets {
      text-align: center;
      justify-content: center;
      padding-top: rem(300px);
    }
  }

  .board__wrapper {
    max-width: rem(375px);
    margin-top: rem(66px);

    @include tablets {
      max-width: rem(528px);
    }
  }
  .board__item {
    margin-bottom: rem(24px);
  }
  .board__img {
    cursor: pointer;
    position: relative;
    background: url("../img/board-info.jpg") center center/cover no-repeat;
    width: rem(91px);
    height: rem(91px);
    margin-bottom: rem(50px);

    &:hover {
      .board__menu {
        display: flex;
      }
    }

    @include tablets {
      display: none;
    }
  }
  .board__menu {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 0;
    left: rem(91px);
    width: rem(273px);
    height: rem(291px);
    padding: rem(30px);
    background-color: #d5d5d5;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(40px);
    border-radius: 4px;
  }
  .board__menu-item {
    font-weight: 500;
    font-size: rem(16px);
    line-height: rem(24px);
    color: #000000;
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(28px);
    &:last-child {
      margin-bottom: 0;
    }
  }
  .board__menu-left {
    position: relative;
    padding-left: rem(40px);

    .icon {
      position: absolute;
      width: rem(25px);
      height: rem(25px);
      top: 0;
      left: 0;
    }
  }
  .icon-weight {
    left:30px;
    background: url('../img/thickness.png') center center/cover no-repeat;
  }
  .board__title {
    font-weight: bold;
    font-size: rem(36px);
  }
  .board__text {
    color: #666666;
  }
  .board__info {
    display: inline-block;
    margin-right: rem(55px);

    strong {
      font-weight: bold;
      color: #000000;
    }
  }
  .board__price {
    display: inline-block;
    font-weight: 300;
    font-size: rem(60px);
    line-height: rem(60px);
    text-transform: uppercase;
    color: #151515;
    margin-right: rem(50px);
  }
  .btn {
    display: inline-block;
  }

  .arrow-left,
  .arrow-right {
    position: absolute;
    width: rem(13.5px);
    height: rem(27px);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .arrow-left {
    left: 0;
  }
  .arrow-right {
    right: 0;
  }
}