.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;

  .icon {
    width: 55px;
    height: 40px;
  }
  .header__list {
    display: flex;
    justify-content: space-between;

    .header__item {
      margin-right: 22px;
    }
  }
  .header__phone  {
    position: relative;
    padding-left: 20px;

    .icon {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 13px;
      height: 14px;
    }
  }
}
