.hero {
  background: url('../img/bg/hero-bg.png') center center/cover no-repeat;
  background-color: #1968B1;
  color: white;
  position: relative;

  .container {
    padding-top: rem(25px);
  }

  @include tablets {
    background-position: right top rem(91px);
  }
}

.hero a {
  color: white;
}

.hero__container {
  padding: rem(100px) 0 rem(170px) 0;

  .hero__title {
    max-width: rem(400px);

    @include tablets {
      max-width: rem(670px);
    }
  }
  .hero__subtitle {
    max-width: rem(382px);
    margin-top: rem(20px);
  }
  .btn {
    margin-top: rem(40px);
  }

  @include tablets {
    padding: 0;
    margin-top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.btn {
  text-transform: uppercase;
  padding: rem(21px);
  min-width: rem(156px);
  color: #000;
  font-size: rem(16px);
  background-color: $yellow;
  border-radius: rem(100px);
  border: none;
  font-weight: 800;
}

.hero__icons {
  position: absolute;
  bottom: rem(70px);
  display: flex;
  justify-content: start;
  font-size: rem(16px);

  @include tablets {
    display: none;
  }

  .icon {
    height: rem(35px);
    width: rem(35px);
  }
  .hero__icon {
    padding-right: rem(33px);
    width: rem(100px);
    position: relative;
  }
}

.nav {
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: column;
  top: rem(210px);
  right: rem(45px);

  .nav__item {
    width: rem(10px);
    height: rem(10px);
    background-color: #fff;
    border-radius: 50%;
    margin-top: rem(13px);
    position: relative;

    &:hover:before {
      content: '';
      position: absolute;
      width: rem(18px);
      height: rem(18px);
      left: rem(-5px);
      top: rem(-5px);
      border: rem(1px) solid #fff;
      border-radius: 50%;
    }
  }
}
