.order {
  background: linear-gradient(rgba(43, 43, 43, 0.5), rgba(43, 43, 43, 0.5)), url('../img/bg/order-bg.jpg') center center/cover no-repeat;
  color: #fff;
  padding: rem(180px) 0;

    .order__title {
      text-align: center;
    }
}

.form {
  margin-top: rem(45px);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include tablets {
    justify-content: center;
  }

  .form__left {
    width: rem(450px);
    margin-top: rem(15px);
  }

  .form__right {
    width: rem(450px);
    margin-top: rem(15px);

    @include phones {
      text-align: center;
    }
  }

  .form__name {
    float: left;
  }
  .form__phone {
    float: right;
  }

  .form__name,
  .form__phone {
    width: 48%;
    display: inline-block;
    margin-bottom: rem(15px);
  }
  .form__street {
    margin-bottom: rem(15px);
  }
  .form__address {
    display: flex;
    justify-content: space-between;
  }
  .form__house,
  .form__building,
  .form__apartment {
    margin-right: rem(17px);
  }

  .form__right .form__right-container {
    cursor: pointer;
    display: inline-block;

    .input {
      width: rem(25px);
      height: rem(25px);
      margin-right: rem(10px);
      vertical-align: middle;
    }
  }

  .form__payment-cash {
    margin-right: rem(15px);
  }
  .form__check {
    margin-top: rem(20px);
    width: 100%;
  }
  .btn {
    margin-top: rem(40px);
  }
  .form__reset {
    padding: 0;
    border-radius: 0;
    width: auto;
    border: none;
    background: none;
    font-size: rem(18px);
    color: #fff;
    margin-left: rem(20px);

    &:hover {
      border: none;
    }
  }
}

.input,
.textarea {
  border: rem(3px) solid transparent;
  padding: rem(20px) rem(12px);
  width: 100%;
  border-radius: rem(4px);

  &:hover {
    border: rem(3px) solid #FEDB3F;
  }

  @include tablets {
    padding: rem(10px) rem(8px);
  }
}
.textarea {
  min-height: rem(124px);
  margin-bottom: rem(40px);

  @include tablets {
    min-height: rem(82px);
  }
}