.review {
  color: $black;
  text-align: center;
  padding-top: 60px;

  .review__container {
    display: none;
    overflow: hidden;
    text-align: left;
    margin-top: rem(32px);
    padding: rem(42px);
    background-color: #F8FAF9;

    @include tablets {
      align-items: center;
      text-align: center;
    }

    &.active {
      display: block;
    }
  }
  .review__img-text {
    padding-top: rem(40px);
  }
  .review__img {
    display: inline-block;
    width: rem(253px);
    height: rem(264px);
    float: left;
    margin-right: rem(40px);

    @include tablets {
      margin-right: 0;
      float: none;
      width: rem(130px);
      height: rem(130px);
    }
  }
  @for $i from 1 through 3 {
    .review__container:nth-child(#{$i}) {
      .review__img {
        background: url("../img/review-section/#{$i}.jpg") center center/cover no-repeat;
      }
    }
  }
  .review__title {
    color: $black;
    font-weight: bold;
    font-size: rem(27px);
    line-height: rem(32px);
  }
  .review__text {
    max-width: rem(760px);
    color: #666666;
    margin-top: rem(15px);
  }
  .review__author {
    font-weight: 500;
    margin-top: rem(25px);
  }

  .review__list {
    display: flex;
    margin-top: rem(15px);
    justify-content: center;
  }
  .review__item {
    cursor: pointer;
    width: rem(75px);
    height: rem(75px);
    border-radius: 50%;
    margin-right: rem(5px);

    &.active {
      border: 6px solid #FEDB3F;
    }
  }

  @for $i from 1 through 3 {
    .review__item:nth-child(#{$i}) {
      background: url("../img/review-section/#{$i}.jpg") center center/cover no-repeat;
    }
  }
}