.why {
  color: $black;
  text-align: center;
  padding: rem(100px) 0;

  @include phones {
    padding: rem(52px) 0;
  }

  .why__subtitle {
    display: inline-block;
    max-width: rem(436px);
    color: $body;
    margin-top: rem(20px);
  }

  .why__list {
    display: flex;
    justify-content: space-between;
    margin-top: rem(50px);

    @include phones {
      flex-direction: column;
    }
  }

  .why__item {
    width: rem(280px);
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;

    &:not(:last-child):before {
      content: '';
      position: absolute;
      width: rem(67px);
      height: rem(21px);
      top: rem(65px);
      right: rem(-65px);
      background: url("../img/why-section-balls.png") 0 0 no-repeat;

      @include tablets {
        display: none;
      }
    }

    .why__item-img {
      flex-shrink: 0;
      position: relative;
      margin: 0 auto;
      width: rem(128px);
      height: rem(128px);
      border-radius: 50%;
      background-color: #F2F5F4;

      .icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: rem(68px);
        height: rem(68px);
      }

      @include phones {
        margin-right: rem(15px);
      }
    }
    .why__item-title {
      margin-top: rem(20px);
      font-size: rem(27px);
      color: $black;
      font-weight: 700;
    }
    .why__item-subtitle {
      margin-top: rem(20px);
      font-weight: 300;
      color: $body;
    }

    @include phones {
      width: auto;
      flex-direction: row;
      text-align: left;
      margin-bottom: rem(30px);
    }
    &:last-child {
      @include phones {
        margin-bottom: 0;
      }
    }
  }
}

